<table class="table table-Hoverable">
  <thead>
  <tr>
  <th>product</th>
  <th>review</th>
  <th></th>
  </tr>
</thead>
<tbody>
  <% reviews.each do |review| %>
  <tr>
<td><img src="https://images-fe.ssl-images-amazon.com/images/I/81hpazZxMXL._AC_UL450_SR450,320_.jpg" alt="画像の説明" class="resized-image"></td>
<td><%= link_to "#{review.product_name}", "#{review.link}" %></td>
<td><%= review.review %></td>
<% if review.user_id == current_user.id %>
<td><%= link_to "Destroy", review_path(review), method: :delete, class: 'btn btn-danger' %></td>
<% end %>
  </tr>
  <% end %>
  </tbody>
</table>

